.wrapper {
    display: block;
    margin: 135px auto;
    width: 480px;
    height: 2700px;
}

@media (min-width: 768px) {
    .wrapper {
        margin: 135px auto;
        width: 768px;
        height: 432px; 
    }
}